*{
    padding: 0%;
    margin: 0%;
}
.main{
    /* border: 1px solid black; */
    height: 720px;
    background-color: #f0f8ff;
    background-image: url("picture3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.header{
    /* border: 1px solid orange; */
    display: flex;
    padding: 12px;
    background-color: rgb(139, 181, 196);
}
.logo{
    /* border: 1px solid red;   */
    margin-left: 15px;
    width: 10% 
}
.nav{
    /* border: 1px solid purple; */
    display: flex;
    width: 30%;
    justify-content: space-between;
    margin-left: 830px;
}
.line{
    /* border: 1px solid black; */
    width: 20%;
    margin-left: 72px;
    margin-top: 35%;
}