*{
    padding: 0%;
    margin: 0%;
} 
body{
    background-color: lightpink;
    padding: 20px;
}
.container{
    /* border: 1px solid red;  */
    width: 43%;
    margin-left: 400px;
    display: flex;
    /* flex-direction: row; */
    /* flex-flow: row wrap; */
    align-items: center;
    justify-content: space-evenly;
}
.box1{
    /* border: 1px solid black; */
    height: 150px;
    width: 150px;
    background-color: red;  
}
.box2{
    /* border: 1px solid black; */
    height: 150px;
    width: 150px;
    background-color: red;
}
div{
    /* border: 1px solid black;  */
    margin-top: 20px; 
    margin-bottom: 20px;
}

   